/* admin/css/admin_styles.css */
body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-size: 1.5em;
}

.card {
    margin-top: 20px;
}

.card-title {
    font-size: 1.2em;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/* admin/css/admin_styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

.navbar-brand {
    font-size: 1.5em;
}

.card {
    margin-top: 20px;
}

.card-title {
    font-size: 1.2em;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .navbar,
.dark-mode .footer {
    background-color: #212121;
}

.dark-mode .card {
    background-color: #1e1e1e;
    border-color: #333;
}

.dark-mode .nav-link {
    color: #ffffff;
}
